---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation";
import Hero from "../components/Hero";
import About from "../components/About";
import Experience from "../components/Experience";
import Projects from "../components/Projects";
import Contact from "../components/Contact";
import Footer from "../components/Footer";
---

<Layout title="VillaDev | Full Stack Developer">
  <Navigation client:load />

  <main>
    <Hero client:load />
    <About client:load />
    <Experience client:load />
    <Projects client:load />
    <Contact client:load />
  </main>

  <Footer client:load />
</Layout>
